In [2]:
#1.Find the error in the following Python code:
# NameError: name 'Math' is not defined

import math
print(math.sqrt(16))

4.0

In [4]:
#2.Find the error in the following Python code:
# UnboundLocalError: local variable 'x' referenced before assignment

def my_function():
    x=0
    x += 5
    print(x)

x = 10
my_function()

5

In [6]:
#3.x = 5
# SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='?

if x == 10:
    print("x is 10")

x is 10

In [ ]:
#4.
numbers = [5, 3, 8, 2]
numbers.sort() # it sorts in the variable number and changes the list itself
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    return n * n # it prints None as return is none.

print(square(4))

16

In [ ]:
#6.
# TypeError: 'tuple' object does not support item assignment
# tuple is immutable.

my_tuple = (1, 2, 3)
my_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [31]:
#7. 
# TypeError: not enough arguments for format string
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b: # use == instead of is
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1,-1): # default step is 1
    print(i)

5
4
3
2

In [40]:
#10.
# NameError: name 'name1' is not defined
student = {name: "John", "age": 20}
print(student[name])

John